.color-picker{
    position: relative;
}

.color-indicator{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(82, 82, 82, 0.1) 5px 5px 5px 5px;
    margin-bottom: 10px;
    margin-top: 100px;

}

#color-picker{
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 400px;
}

