.color_box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  margin-bottom: 40px;
}

.color_box_in_text {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 55px;
  margin-bottom: 10px;
  margin-right: 18px;
  margin-left: 140px;
}

.color_year_box {
  display: flex;
  justify-content: space-between;
}

.color_box2 {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.color_code_text {
  color: white;
  text-shadow: 0px 0px 15px black;
  font-size: 20px;
  opacity: 0;
  position: relative;
  top: -230px;
  left: 10px;
}

.color_code_text2 {
  color: white;
  text-shadow: 0px 0px 15px black;
  font-size: 20px;
  opacity: 0;
  position: relative;
  top: -281px;
  left: 315px;
}

.color_box:hover + div {
  opacity: 1;
}

.color_box:hover + div + div {
  opacity: 1;
}

.color_code_text:hover {
  opacity: 1;
}

.color_code_text2:hover {
  opacity: 1;
}
