.logo {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
}

.upheader {
  background-color: #c9d5ee;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}
.menu {
  background-color: #ffffff;
  height: 3.5rem;
}

.menu-item {
  display: inline-block;
  color: rgb(59, 59, 59);
  font-size: 1.2rem;
  font-style: bold;
  line-height: 3.5rem;
  width: 33.3333%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #cdfff3;
}

.menu-item:active,
.menu-item.active {
  background-color: #9cd7ee;
}
